:root {
    /* Color */
    --accent: #0072BC;
    --accent-light: #6EB1DE;
    --text-black: #4A5158;
    --text-white: #fff;
    --text-error: #F28484;

    /* Background */
    --accent-transparent: rgba(255, 255, 255, 0.15);

    /* Font Size */
    --font-size-regular: 14px;
    --font-size-header: 18px;
    --font-size-big: 24px;
    --font-size-small: 12px;

    /* Other Size */
    --nav-height: 100px; 
}

@media (min-width: 1600px) {
    :root {
    /* Font Size */
    --font-size-regular: 14px;
    --font-size-header: 18px;
    --font-size-big: 24px;
    --font-size-small: 12px;

    /* Other Size */
    --nav-height: 100px; 
}
}

* {
    box-sizing: border-box;
}

body {
    color: var(--text-black);
    height: 100vh;
    font-size: var(--font-size-regular);
    overflow-x: hidden;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* Header */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 30px 56px;
    background: var(--text-white);
}

.nav-logo {
    margin-right: 20px;
}

.nav-logo img {
    width: 62px;
    height: 69px;
}

.nav-info {
    display: flex;
    width: 45%;
    max-width: 720px;
    justify-content: space-between;
    margin-right: -20%;
}

.nav-info div {
    flex-direction: column;
    padding: 0 50px 0 40px;
    border-left: 1px solid #4a515839;
}

.nav-info div span {
    display: flex;
}

.nav-info .nav-info_title {
    font-size: var(--font-size-small);
}

.nav-info .nav-info_text {
    font-size: var(--font-size-header);
}

.nav-menu {
    display: flex;
    width: 30%;
    max-width: 330px;
    padding-right: 32px;
    justify-content: space-between;
    align-items: center;
}

.nav-menu #addProjectBtn {
    font-weight: 700;
    padding: 18px 68px;
    background-color: var(--accent);
    color: var(--text-white);
    transition: .1s;
}

.nav-menu #addProjectBtn:hover {
    background-color: var(--accent-light);
}

.nav-menu #quitBtn {
    color: var(--accent);
    position: relative;
    font-weight: 700;
}

a#quitBtn:after {
    content: '';
    width: 20px;
    height: 28px;
    background-image: url('/img/quit.svg');
    position: absolute;
    top: -15%;
    right: -85%;
}

/* Main container */
main {
    max-width: 100%;
    min-height: calc(100vh - var(--nav-height));
    padding: 50px;
    background-color: var(--accent);
    background-image: url(/img/bg.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

/* User Page */
/* TODO - Исправить баг с большим количеством проектов */
.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.projects .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24%;
    max-width: 440px;
    height: 260px;
    padding: 40px 35px 30px 45px;
    margin-bottom: 40px;
    background: #6EB1DE;
    position: relative;
}
.projects .project:before {
    content: '';
    width: 8px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.projects .project .project-description {
    max-width: 68%;
}

.projects .project .project-description span {
    color: var(--text-white);
    font-size: var(--font-size-header);
}

.projects .project .project-menu {
    width: 100%;
    padding-top: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);;
}

.projects .project .project-menu a {
    display: block;
    color: var(--text-white);
    position: relative;
}

.projects .project .project-menu a:after {
    content: '->';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    background-color: #fff;
    color: var(--accent);
    font-size: 23px;
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-45%);
}

.project.beforePurple::before {
    background-color: #776EDE;
}

.project.beforeAquamarine::before {
    background-color: #6EDEC3;
}

.project.beforeGolden::before {
    background-color: #DEBF6E;
}

.project.beforeSkyblue::before {
    background-color: #6ED7DE;
}

.project.beforeGreen::before {
    background-color: #9FDE6E;
}

.project.beforeLightpurple::before {
    background-color: #85B6FF;
}

.project.beforePink::before {
    background-color: #BA6EDE;
}

.project.beforeOrange::before {
    background-color: #DE896E;
}

/* Add Platform Page */
.main-menu {
    width: 100%;
    padding: 0 0 30px 0;
    margin-bottom: 60px;
    margin-top: -15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.backBtn {
    color: var(--text-white);
    padding: 15px 0 15px 60px;
    position: relative;
}

.backBtn::before {
    content: '<-';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    background-color: #fff;
    color: var(--accent);
    font-size: 23px;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-45%);
}

.add-platform {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-header {
    margin-bottom: 50px;
}

.form-header h1 {
    font-size: 32px;
    color: var(--text-white);
    font-weight: 300;
}

.form-body .form-group {
    display: flex;
    flex-direction: row;
}

.form-body .form-group div{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.form-body .form-group label{
    color: var(--text-white);
    line-height: 17px;
    margin-bottom: 11px;
}

.form-body .form-group input{
    min-width: 350px;
    padding: 15px 23px;
    margin-bottom: 32px;
}

.form-body .form-group input[type="button"], .form-body button{
    outline: none;
    border: none;
    color: var(--text-white);
    cursor: pointer;
    transition: .1s;
    font-weight: 700;
}

.form-body .form-group input[type="button"] {
    background-color: var(--accent-transparent);
}

.form-body button {
    background-color: var(--accent);
}

.form-body .form-group input[type="button"]:hover, .form-body button:hover {
    background: var(--accent-light);
}

.form-body .form-title {
    color: var(--text-white);
    font-size: var(--font-size-big);
    font-weight: 300;
}

.form-body .form-group div:last-child .form-title {
    margin-top: -50px;
}

.form-body input[type="button"], .form-body button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 50px;
    margin-top: 30px;
}

.form-body label[for="file"] {
    background-color: var(--accent-light);
    cursor: pointer;
    transition: .1s;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-body label[for="file"]:hover {
    background-color: var(--accent-transparent);
}

.form-body .form-group input[type="file"] {
    display: none;
}

.login-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.login-page .login-form {
    display: flex;
    flex-direction: column;
    background: var(--text-white);
    padding: 75px 155px;
}

.login-page .login-form img {
    width: 93px;
    height: 104px;
    margin-bottom: 140px;
}

.login-page .login-form h1 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 40px;
}

.login-page .login-form form {
    display: flex;
    flex-direction: column;
}

.login-page .login-form form label {
    font-weight: 300;
    color: var(--text-black);
    margin-bottom: 11px;
    position: relative;
}

.login-page .login-form form input {
    min-width: 350px;
    padding: 16px 21px;
    border: 1px solid #eaeaea;
    margin-bottom: 14px;
}

.login-page .login-form form label:after {
    font-size: 24px;
    opacity: .15;
    position: absolute;
    right: 13px;
    top: 40px;
}

.login-page .login-form form label[for="email"]:after {
    content: url(/img/email.svg);
}

.login-page .login-form form label[for="password"]:after {
    content: url(/img/password.svg);
}

.login-page .login-form form button, .login-page .login-form a.resetPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
    outline: none;
    border: none;
    color: var(--text-white);
    cursor: pointer;
    transition: .1s;
    font-weight: 700;
}

.login-page .login-form form button {
    background: var(--accent);
}

.login-page .login-form form button:hover, .login-page .login-form a.resetPassword:hover {
    background: var(--accent-light);
}

.login-page .login-form a.resetPassword {
    color: var(--accent);
    background: #0072BC26;
    min-height: 50px;
}

.login-page .login-form .incorrect input {
    border: 1px solid var(--text-error);
    color: var(--text-error);
    background-color: #FFF3F3;
}
.login-page .login-form .incorrect .error {
    display: block;
}

.login-page .login-form .error {
    display: none;
    max-width: 350px;
    margin-top: 10px;
    color: var(--text-error);
}

.login-page .login-bg {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--accent);
    background-image: url(/img/bg.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
